<a href="https://colab.research.google.com/github/bthodla/pandas_vs_terality/blob/main/notebooks/pandas_vs_terality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd
import terality as te
from codetiming import Timer
import random

In [2]:
file_path = "C:\\\\Users\\\\bhask\\\\Google Drive\\\\datasets\\\\Chicago_taxi_trips\\\\"
timer = Timer(name="Terality Tests")

In [3]:
# Disabling Terality cache for testing
# cache_disabler = te.disable_cache()
# cache_disabler.__enter__()

In [4]:
# A list of dataframe columns renamed by converting to lowercase and replacing spaces with '_'
columns = [
'trip_id',
'taxi_id',
'trip_start_timestamp',
'trip_end_timestamp',
'trip_seconds',
'trip_miles',
'pickup_census_tract',
'dropoff_census_tract',
'pickup_community_area',
'dropoff_community_area',
'fare',
'tips',
'tolls',
'extras',
'trip_total',
'payment_type',
'company',
'pickup_centroid_latitude',
'pickup_centroid_longitude',
'pickup_centroid_location',
'dropoff_centroid_latitude',
'dropoff_centroid_longitude',
'dropoff_centroid__location'
]

In [5]:
# Loading data into dataframes using Pandas
timer.start()
taxi_trips_pdf = pd.read_csv(file_path + "Taxi_Trips_2019_2020.csv")
timer.stop()

Elapsed time: 147.5039 seconds

147.503921

In [6]:
# Loading data into dataframes using Terality
timer.start()
taxi_trips_tdf = te.read_csv(file_path + "Taxi_Trips_2019_2020.csv")
timer.stop()

C:\\Users\\bhask\\Google Drive\\datasets\\Chicago_taxi_trips\\Taxi_Trips_2019_2020.csv:   0%| | 0.00/8.48G [00:02<?, ?B
INFO:terality:The result of te.read_csv was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

Elapsed time: 47.5288 seconds

47.52880470000002

In [7]:
timer.start()
taxi_trips_pdf.head()
timer.stop()

Elapsed time: 0.0015 seconds

0.0014795999999819287

In [8]:
timer.start()
taxi_trips_tdf.head()
timer.stop()

INFO:terality:The result of te.dataframe.head was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

Elapsed time: 1.7167 seconds

1.7166523999999868

In [9]:
# Rename the columns of the Pandas dataframe
timer.start()
taxi_trips_pdf.columns = columns
timer.stop()

Elapsed time: 0.0003 seconds

0.0003424999999879219

In [10]:
# Rename the columns of the Terality dataframe
timer.start()
taxi_trips_tdf.columns = columns
timer.stop()

INFO:terality:The result of te.dataframe.columns was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

Elapsed time: 1.4328 seconds

1.4327554999999847

In [11]:
# Row count before cleanup - using Pandas
timer.start()
print("Pandas DF Row Count before: % d" % taxi_trips_pdf.shape[0])
timer.stop()

Pandas DF Row Count before:  20366397
Elapsed time: 0.0008 seconds

0.0008144999999899483

In [12]:
# Remove all the rows with NaN values using Pandas. There is plenty of data even otherwise
timer.start()
taxi_trips_pdf.dropna(how='any',axis=0,inplace=True)
timer.stop()

Elapsed time: 13.6855 seconds

13.685485999999969

In [13]:
# Row count after cleanup - using Pandas
timer.start()
row_count = taxi_trips_pdf.shape[0]
print("Pandas DF Row Count after: % d" % row_count)
timer.stop()

Pandas DF Row Count after:  12199631
Elapsed time: 0.0003 seconds

0.00029430000000729706

In [14]:
# Row count before cleanup - using Terality
timer.start()
print("Terality DF Row Count after: % d" % taxi_trips_tdf.shape[0])
timer.stop()

INFO:terality:The result of te.dataframe.shape was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

Terality DF Row Count after:  20366397
Elapsed time: 1.6042 seconds

1.6041942999999605

In [15]:
# Remove all the rows with NaN values using Terality. There is plenty of data even otherwise
timer.start()
taxi_trips_tdf.dropna(how='any',axis=0,inplace=True)
timer.stop()

INFO:terality:The result of te.dataframe.dropna was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

Elapsed time: 1.1060 seconds

1.1059541000000195

In [16]:
# Row count after cleanup - using Terality
timer.start()
print("Terality DF Row Count after: % d" % taxi_trips_tdf.shape[0])
timer.stop()

INFO:terality:The result of te.dataframe.shape was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

Terality DF Row Count after:  12199631
Elapsed time: 0.8688 seconds

0.8688448000000335

In [37]:
# Adding a new column to store datetime version of string datetimes - Pandas
timer.start()
taxi_trips_pdf['trip_start_dt'] = pd.to_datetime(taxi_trips_pdf['trip_start_timestamp'], infer_datetime_format=True)
taxi_trips_pdf['trip_end_dt'] = pd.to_datetime(taxi_trips_pdf['trip_end_timestamp'], infer_datetime_format=True)
taxi_trips_pdf['trip_start_ym'] = taxi_trips_pdf['trip_start_dt'].dt.to_period('M')
taxi_trips_pdf['trip_end_ym'] = taxi_trips_pdf['trip_end_dt'].dt.to_period('M')
timer.stop()

Elapsed time: 21.8859 seconds

21.88585409999996

In [38]:
taxi_trips_pdf.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid__location,trip_start_dt,trip_end_dt,trip_start_ym,trip_end_ym
16,e066e483f0fc2a583895d24c9dec9864a6608052,4794c36af4c1852d90b5c8cf5f9f6cd38a8b9c1b68cf48...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,600.0,0.0,1.703108e+10,1.703184e+10,8.0,32.0,...,41.891972,-87.612945,POINT (-87.6129454143 41.8919715078),41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),2019-01-01,2019-01-01 00:15:00,2019-01,2019-01
19,5431595d222a3e00a9e4b3e93c928c306dc71be3,86b0677bb9bcda0454863c70a616d1adc45129237848d1...,01/01/2019 12:00:00 AM,01/01/2019 12:00:00 AM,120.0,0.3,1.703184e+10,1.703132e+10,32.0,32.0,...,41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),41.877406,-87.621972,POINT (-87.6219716519 41.8774061234),2019-01-01,2019-01-01 00:00:00,2019-01,2019-01
20,509e870adce2a514a4287e1a305fe4ddabc59836,38f6145c9a2b848dc1baa16fd91087e606b12bcb8757a9...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,360.0,0.8,1.703108e+10,1.703108e+10,8.0,8.0,...,41.898332,-87.620763,POINT (-87.6207628651 41.8983317935),41.892508,-87.626215,POINT (-87.6262149064 41.8925077809),2019-01-01,2019-01-01 00:15:00,2019-01,2019-01
22,31004535c12d4372c165e34386cde0521a0a72e8,ee8a2f86372e99ecf87d44e13a20ebda7db8ae69d5b444...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,360.0,1.0,1.703108e+10,1.703108e+10,8.0,8.0,...,41.890922,-87.618868,POINT (-87.6188683546 41.8909220259),41.892042,-87.631864,POINT (-87.6318639497 41.8920421365),2019-01-01,2019-01-01 00:15:00,2019-01,2019-01
23,da18ec450c1fed02fbbc675faa621f8ac50ab5dd,0013da5489fe976daf4f4a7d246073ecf2caed9b12b3be...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,420.0,0.8,1.703108e+10,1.703108e+10,8.0,8.0,...,41.898332,-87.620763,POINT (-87.6207628651 41.8983317935),41.892508,-87.626215,POINT (-87.6262149064 41.8925077809),2019-01-01,2019-01-01 00:15:00,2019-01,2019-01

In [33]:
# Adding a new column to store datetime version of string datetimes - Terality
timer.start()
taxi_trips_tdf['trip_start_dt'] = te.to_datetime(taxi_trips_tdf['trip_start_timestamp'], infer_datetime_format=True)
taxi_trips_tdf['trip_end_dt'] = te.to_datetime(taxi_trips_tdf['trip_end_timestamp'], infer_datetime_format=True)
taxi_trips_tdf['trip_start_ym'] = taxi_trips_tdf['trip_start_dt'].dt.to_period('M')
taxi_trips_tdf['trip_end_ym'] = taxi_trips_tdf['trip_end_dt'].dt.to_period('M')
timer.stop()

Elapsed time: 20.7048 seconds

20.704838499999823

In [34]:
taxi_trips_tdf.head()
# timer.stop()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid__location,trip_start_dt,trip_end_dt,trip_start_ym,trip_end_ym
16,e066e483f0fc2a583895d24c9dec9864a6608052,4794c36af4c1852d90b5c8cf5f9f6cd38a8b9c1b68cf48...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,600.0,0.0,1.703108e+10,1.703184e+10,8.0,32.0,...,41.891972,-87.612945,POINT (-87.6129454143 41.8919715078),41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),2019-01-01,2019-01-01 00:15:00,2019-01,2019-01
19,5431595d222a3e00a9e4b3e93c928c306dc71be3,86b0677bb9bcda0454863c70a616d1adc45129237848d1...,01/01/2019 12:00:00 AM,01/01/2019 12:00:00 AM,120.0,0.3,1.703184e+10,1.703132e+10,32.0,32.0,...,41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),41.877406,-87.621972,POINT (-87.6219716519 41.8774061234),2019-01-01,2019-01-01 00:00:00,2019-01,2019-01
20,509e870adce2a514a4287e1a305fe4ddabc59836,38f6145c9a2b848dc1baa16fd91087e606b12bcb8757a9...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,360.0,0.8,1.703108e+10,1.703108e+10,8.0,8.0,...,41.898332,-87.620763,POINT (-87.6207628651 41.8983317935),41.892508,-87.626215,POINT (-87.6262149064 41.8925077809),2019-01-01,2019-01-01 00:15:00,2019-01,2019-01
22,31004535c12d4372c165e34386cde0521a0a72e8,ee8a2f86372e99ecf87d44e13a20ebda7db8ae69d5b444...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,360.0,1.0,1.703108e+10,1.703108e+10,8.0,8.0,...,41.890922,-87.618868,POINT (-87.6188683546 41.8909220259),41.892042,-87.631864,POINT (-87.6318639497 41.8920421365),2019-01-01,2019-01-01 00:15:00,2019-01,2019-01
23,da18ec450c1fed02fbbc675faa621f8ac50ab5dd,0013da5489fe976daf4f4a7d246073ecf2caed9b12b3be...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,420.0,0.8,1.703108e+10,1.703108e+10,8.0,8.0,...,41.898332,-87.620763,POINT (-87.6207628651 41.8983317935),41.892508,-87.626215,POINT (-87.6262149064 41.8925077809),2019-01-01,2019-01-01 00:15:00,2019-01,2019-01

In [17]:
# Describe - Pandas
timer.start()
taxi_trips_pdf.describe()

,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude
count,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07
mean,7.806322e+02,2.882408e+00,1.703141e+10,1.703138e+10,2.628359e+01,2.319189e+01,1.279652e+01,1.781760e+00,7.331033e-04,8.851525e-01,1.560699e+01,4.189265e+01,-8.765359e+01,4.189144e+01,-8.764459e+01
std,1.207102e+03,5.479885e+00,3.436317e+05,3.341613e+05,1.881160e+01,1.634532e+01,6.189516e+01,2.826719e+00,3.181317e-01,1.609252e+01,6.459551e+01,3.113462e-02,7.520429e-02,2.604625e-02,5.721153e-02
min,0.000000e+00,0.000000e+00,1.703101e+10,1.703101e+10,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.165022e+01,-8.790304e+01,4.166376e+01,-8.790304e+01
25%,3.400000e+02,5.400000e-01,1.703108e+10,1.703108e+10,8.000000e+00,8.000000e+00,5.750000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00,4.188099e+01,-8.763784e+01,4.188099e+01,-8.764090e+01
50%,5.140000e+02,1.080000e+00,1.703132e+10,1.703128e+10,2.800000e+01,2.800000e+01,7.250000e+00,9.000000e-01,0.000000e+00,0.000000e+00,9.000000e+00,4.188530e+01,-8.763186e+01,4.188530e+01,-8.763186e+01
75%,8.230000e+02,1.900000e+00,1.703184e+10,1.703184e+10,3.200000e+01,3.200000e+01,1.025000e+01,2.000000e+00,0.000000e+00,1.000000e+00,1.250000e+01,4.189322e+01,-8.762197e+01,4.189503e+01,-8.762197e+01
max,8.640000e+04,9.959000e+02,1.703198e+10,1.703198e+10,7.700000e+01,7.700000e+01,9.800260e+03,4.000000e+02,9.606800e+02,9.327760e+03,9.800300e+03,4.202122e+01,-8.753071e+01,4.202122e+01,-8.753071e+01

In [18]:
timer.stop()

Elapsed time: 8.1017 seconds

8.101670899999988

In [19]:
# Describe - Terality
timer.start()
taxi_trips_tdf.describe()

INFO:terality:The result of te.dataframe.describe was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].
INFO:terality:The result of te.dataframe._repr_html_ was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude
count,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07
mean,7.806322e+02,2.882408e+00,1.703141e+10,1.703138e+10,2.628359e+01,2.319189e+01,1.279652e+01,1.781760e+00,7.331033e-04,8.851525e-01,1.560699e+01,4.189265e+01,-8.765359e+01,4.189144e+01,-8.764459e+01
std,1.207102e+03,5.479885e+00,3.436317e+05,3.341613e+05,1.881160e+01,1.634532e+01,6.189516e+01,2.826719e+00,3.181317e-01,1.609252e+01,6.459551e+01,3.113462e-02,7.520429e-02,2.604625e-02,5.721153e-02
min,0.000000e+00,0.000000e+00,1.703101e+10,1.703101e+10,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.165022e+01,-8.790304e+01,4.166376e+01,-8.790304e+01
25%,3.400000e+02,5.400000e-01,1.703108e+10,1.703108e+10,8.000000e+00,8.000000e+00,5.750000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00,4.188099e+01,-8.763784e+01,4.188099e+01,-8.764090e+01
50%,5.140000e+02,1.080000e+00,1.703132e+10,1.703128e+10,2.800000e+01,2.800000e+01,7.250000e+00,9.000000e-01,0.000000e+00,0.000000e+00,9.000000e+00,4.188530e+01,-8.763186e+01,4.188530e+01,-8.763186e+01
75%,8.230000e+02,1.900000e+00,1.703184e+10,1.703184e+10,3.200000e+01,3.200000e+01,1.025000e+01,2.000000e+00,0.000000e+00,1.000000e+00,1.250000e+01,4.189322e+01,-8.762197e+01,4.189503e+01,-8.762197e+01
max,8.640000e+04,9.959000e+02,1.703198e+10,1.703198e+10,7.700000e+01,7.700000e+01,9.800260e+03,4.000000e+02,9.606800e+02,9.327760e+03,9.800300e+03,4.202122e+01,-8.753071e+01,4.202122e+01,-8.753071e+01

In [20]:
timer.stop()

Elapsed time: 3.1106 seconds

3.110634800000014

In [21]:
# Query 1: Number of trips grouped by taxi - Using Pandas
timer.start()
taxi_trips_pdf.groupby('taxi_id').count()['trip_id']

taxi_id
0008de7a146802839c9e6059f482d292ebdae13c5c31dd6e5983a80882e2a5dbcd6ea098c2fcd56f34ce02645eb94c6b39512e9304837746d4e289b6236c2c5b    3372
001330b81e23412049f9c3eff5b6e972a91afe59c9aa36ef29747881b4bf803adfd02b1a71cca5cb8c2214275330aa4520df34d7848100414acb4b4cad642e62    3072
0013da5489fe976daf4f4a7d246073ecf2caed9b12b3be70eff37b63ef9ca4102c972145ddd8537811752d51b222b4618dfbae451b966d7a3ad9afa4ec878a6e    4093
0041f8f0c91881c1e1913f2548522495fe3c4c719aa67fd2483ebbcc22e0aa1bfff2cddb32c35cde3ad9766b0e8d44c04ff5dfdcf1035462ba81a13e3ba6b8f9    3431
0044e6c0d091476299b99345501f756b23632a96cbaf40e872fbf14f976410d3f938aacc643ed608b2aa42809222d4458e1aab5e0848e9b952f35616785c3a36    2104
                                                                                                                                    ...
ffd70d111c7da2e5eff27ad900c8eb94d74fe286bb7aa58029ee2baac3f3b310dea5da2a6a77a366b7b6d4b104b91ef75e7959ac6b1f558be7844417cbe3e12f     603
ffda53354c610fd3af1aee46d723028a49014e35f7280ca3d812716eb3cf1f0a763556368e4139b7183ee1fb36e26104de62bb86601f2fa16e3d96167e25b84e    1236
ffe8d8153b8f68cd20871ae5710f9b799bcc517b40ece7cf561407a6cd161f52430890c0ef8402a9152eb6bd24651716504c08a69f3b8c8b7a79a08fae65fc4c      46
fff3279af11dfade5e308184a5cc6c1ca2d33764634d962e589f6af2bf844c2dc8e6d8fcf1bf47f4364671bea6c8a8cb8b9990cb9f6dc608079e96aa1fec24e7     914
fff84aa08ac78890c6e7da64b817cbd9aad6a124104e099a7482efee1a6bac61a837e1db218e9d38c159f28c8f85187a08a05c8ba54648edc3b91e437357fa84     202
Name: trip_id, Length: 5280, dtype: int64

In [22]:
timer.stop()

Elapsed time: 14.2906 seconds

14.290632199999948

In [23]:
# Query 1: Number of trips grouped by taxi - Using Terality
timer.start()
taxi_trips_pdf.groupby('taxi_id').count()['trip_id']

taxi_id
0008de7a146802839c9e6059f482d292ebdae13c5c31dd6e5983a80882e2a5dbcd6ea098c2fcd56f34ce02645eb94c6b39512e9304837746d4e289b6236c2c5b    3372
001330b81e23412049f9c3eff5b6e972a91afe59c9aa36ef29747881b4bf803adfd02b1a71cca5cb8c2214275330aa4520df34d7848100414acb4b4cad642e62    3072
0013da5489fe976daf4f4a7d246073ecf2caed9b12b3be70eff37b63ef9ca4102c972145ddd8537811752d51b222b4618dfbae451b966d7a3ad9afa4ec878a6e    4093
0041f8f0c91881c1e1913f2548522495fe3c4c719aa67fd2483ebbcc22e0aa1bfff2cddb32c35cde3ad9766b0e8d44c04ff5dfdcf1035462ba81a13e3ba6b8f9    3431
0044e6c0d091476299b99345501f756b23632a96cbaf40e872fbf14f976410d3f938aacc643ed608b2aa42809222d4458e1aab5e0848e9b952f35616785c3a36    2104
                                                                                                                                    ...
ffd70d111c7da2e5eff27ad900c8eb94d74fe286bb7aa58029ee2baac3f3b310dea5da2a6a77a366b7b6d4b104b91ef75e7959ac6b1f558be7844417cbe3e12f     603
ffda53354c610fd3af1aee46d723028a49014e35f7280ca3d812716eb3cf1f0a763556368e4139b7183ee1fb36e26104de62bb86601f2fa16e3d96167e25b84e    1236
ffe8d8153b8f68cd20871ae5710f9b799bcc517b40ece7cf561407a6cd161f52430890c0ef8402a9152eb6bd24651716504c08a69f3b8c8b7a79a08fae65fc4c      46
fff3279af11dfade5e308184a5cc6c1ca2d33764634d962e589f6af2bf844c2dc8e6d8fcf1bf47f4364671bea6c8a8cb8b9990cb9f6dc608079e96aa1fec24e7     914
fff84aa08ac78890c6e7da64b817cbd9aad6a124104e099a7482efee1a6bac61a837e1db218e9d38c159f28c8f85187a08a05c8ba54648edc3b91e437357fa84     202
Name: trip_id, Length: 5280, dtype: int64

In [24]:
timer.stop()

Elapsed time: 12.3695 seconds

12.369518699999958

In [40]:
# Query 2: Number of trips grouped by taxi and year/month - Using Pandas
timer.start()
taxi_trips_pdf.groupby(['taxi_id', 'trip_start_ym']).count()['trip_id']

taxi_id                                                                                                                           trip_start_ym
0008de7a146802839c9e6059f482d292ebdae13c5c31dd6e5983a80882e2a5dbcd6ea098c2fcd56f34ce02645eb94c6b39512e9304837746d4e289b6236c2c5b  2019-01          230
                                                                                                                                  2019-02          248
                                                                                                                                  2019-03          212
                                                                                                                                  2019-04          202
                                                                                                                                  2019-05          270
                                                                                                                                                  ...
fff84aa08ac78890c6e7da64b817cbd9aad6a124104e099a7482efee1a6bac61a837e1db218e9d38c159f28c8f85187a08a05c8ba54648edc3b91e437357fa84  2020-08            8
                                                                                                                                  2020-09           59
                                                                                                                                  2020-10           52
                                                                                                                                  2020-11           21
                                                                                                                                  2020-12           18
Name: trip_id, Length: 67069, dtype: int64

In [47]:
timer.stop()

Elapsed time: 25.7059 seconds

25.7058820000002

In [43]:
# Query 2: Number of trips grouped by taxi and year/month - Using Terality
timer.start()
taxi_trips_tdf.groupby(['taxi_id', 'trip_start_ym']).count()['trip_id']

taxi_id                                                                                                                           trip_start_ym
0008de7a146802839c9e6059f482d292ebdae13c5c31dd6e5983a80882e2a5dbcd6ea098c2fcd56f34ce02645eb94c6b39512e9304837746d4e289b6236c2c5b  2019-01          230
                                                                                                                                  2019-02          248
                                                                                                                                  2019-03          212
                                                                                                                                  2019-04          202
                                                                                                                                  2019-05          270
                                                                                                                                                  ...
fff84aa08ac78890c6e7da64b817cbd9aad6a124104e099a7482efee1a6bac61a837e1db218e9d38c159f28c8f85187a08a05c8ba54648edc3b91e437357fa84  2020-08            8
                                                                                                                                  2020-09           59
                                                                                                                                  2020-10           52
                                                                                                                                  2020-11           21
                                                                                                                                  2020-12           18
Name: trip_id, Length: 67069, dtype: int64

In [59]:
timer.stop()

Elapsed time: 9.9748 seconds

9.974799299999177

In [61]:
# Query 3: Number of trips by Taxi Company - using Pandas
timer.start()
taxi_trips_pdf.groupby('company').count()['trip_id'].sort_values(ascending=False).head(10)

company
Taxi Affiliation Services            2769009
Chicago Carriage Cab Corp            1506931
Flash Cab                            1220891
Sun Taxi                             1046724
Medallion Leasin                      932280
City Service                          906870
Star North Management LLC             742670
Blue Ribbon Taxi Association Inc.     581908
Choice Taxi Association               400096
Taxicab Insurance Agency, LLC         340868
Name: trip_id, dtype: int64

In [62]:
timer.stop()

Elapsed time: 7.1848 seconds

7.184787299999698

In [ ]:
# Query 3: Number of trips by Taxi Company - using Terality
timer.start()
taxi_trips_tdf.groupby('company').count()['trip_id'].sort_values(ascending=False).head(10)

In [ ]:
timer.stop()

In [ ]:
# Query 4: Sort by Taxi Company - using Pandas
timer.start()
taxi_trips_pdf.sort_values(by="company")
timer.stop()

In [ ]:
# Query 4: Sort by Taxi Company - using Terality
timer.start()
taxi_trips_tdf.sort_values(by="company")
timer.stop()

In [64]:
# Query 5: Slicing using random numbers for start and end - using Pandas
start = random.randint(1, taxi_trips_pdf.shape[0])
print(start)

7397

In [ ]:
# Query 5: Slicing using random numbers for start and end - using Terality

In [ ]:
# Query 6: Selecting a single row from an unindexed dataframe - using Pandas

In [ ]:
# Query 6: Selecting a single row from an unindexed dataframe - using Pandas

In [ ]:
# Query 7: Range queries using isin() - Using Pandas

In [ ]:
# Query 7: Range queries using isin() - Using Terality