In [51]:
import pandas as pd
import terality as te
from codetiming import Timer
import arrow

In [3]:
file_path = "C:\\\\Users\\\\bhask\\\\Google Drive\\\\datasets\\\\Chicago_taxi_trips\\\\"
timer = Timer(name="Terality Tests")

In [4]:
# Disabling Terality cache for testing
# cache_disabler = te.disable_cache()
# cache_disabler.__enter__()

In [5]:
# A list of dataframe columns renamed by converting to lowercase and replacing spaces with '_'
columns = [
'trip_id',
'taxi_id',
'trip_start_timestamp',
'trip_end_timestamp',
'trip_seconds',
'trip_miles',
'pickup_census_tract',
'dropoff_census_tract',
'pickup_community_area',
'dropoff_community_area',
'fare',
'tips',
'tolls',
'extras',
'trip_total',
'payment_type',
'company',
'pickup_centroid_latitude',
'pickup_centroid_longitude',
'pickup_centroid_location',
'dropoff_centroid_latitude',
'dropoff_centroid_longitude',
'dropoff_centroid__location'
]

In [6]:
# Loading data into dataframes using Pandas
timer.start()
taxi_trips_pdf = pd.read_csv(file_path + "Taxi_Trips_2019_2020.csv")
timer.stop()

Elapsed time: 74.5499 seconds

74.54994289999999

In [7]:
# Loading data into dataframes using Terality
timer.start()
taxi_trips_tdf = te.read_csv(file_path + "Taxi_Trips_2019_2020.csv")
timer.stop()

C:\\Users\\bhask\\Google Drive\\datasets\\Chicago_taxi_trips\\Taxi_Trips_2019_2020.csv:   0%|          | 0.00/8.48G [00:02<?, ?B/s]

Elapsed time: 40.8557 seconds

40.8557141

In [8]:
timer.start()
taxi_trips_pdf.head()
timer.stop()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,f24ef1302cd672bbcbeb7dbc60ef78dceeb138b7,1801165e22d31b0d2557544664d5ac37511b6cd2972126...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,885.0,3.45,NaN,NaN,NaN,NaN,...,4.0,16.75,Cash,Flash Cab,NaN,NaN,NaN,NaN,NaN,NaN
1,8e40b9c59af7b2897dc7a1163c472903e0dd6e9a,7a387c4ea03aea6f051c2083737fa232315f8dad35cf36...,01/01/2019 12:00:00 AM,01/01/2019 12:00:00 AM,8.0,0.00,NaN,NaN,NaN,NaN,...,0.0,3.25,Cash,Chicago Carriage Cab Corp,NaN,NaN,NaN,NaN,NaN,NaN
2,189631d3891a33361d68ef460c2d3049179f9837,d1d781b6807176ed53fbb9d0010dd0a87e29c073984bda...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,960.0,4.90,NaN,NaN,NaN,NaN,...,1.0,20.10,Credit Card,Star North Management LLC,NaN,NaN,NaN,NaN,NaN,NaN
3,e4941ac16f2fccf07218d2656a056103a4bf64a6,6933327f9cc740e893a882282f7d06460207d6d4e084b3...,01/01/2019 12:00:00 AM,01/01/2019 12:00:00 AM,420.0,1.50,NaN,NaN,NaN,NaN,...,0.0,7.50,Cash,Star North Management LLC,NaN,NaN,NaN,NaN,NaN,NaN
4,57a104b6cf260f117de051e61193e806ceb0f347,6933327f9cc740e893a882282f7d06460207d6d4e084b3...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,420.0,0.50,NaN,NaN,NaN,NaN,...,1.0,8.00,Credit Card,Star North Management LLC,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
timer.start()
taxi_trips_tdf.head()
timer.stop()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,f24ef1302cd672bbcbeb7dbc60ef78dceeb138b7,1801165e22d31b0d2557544664d5ac37511b6cd2972126...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,885.0,3.45,NaN,NaN,NaN,NaN,...,4.0,16.75,Cash,Flash Cab,NaN,NaN,None,NaN,NaN,None
1,8e40b9c59af7b2897dc7a1163c472903e0dd6e9a,7a387c4ea03aea6f051c2083737fa232315f8dad35cf36...,01/01/2019 12:00:00 AM,01/01/2019 12:00:00 AM,8.0,0.00,NaN,NaN,NaN,NaN,...,0.0,3.25,Cash,Chicago Carriage Cab Corp,NaN,NaN,None,NaN,NaN,None
2,189631d3891a33361d68ef460c2d3049179f9837,d1d781b6807176ed53fbb9d0010dd0a87e29c073984bda...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,960.0,4.90,NaN,NaN,NaN,NaN,...,1.0,20.10,Credit Card,Star North Management LLC,NaN,NaN,None,NaN,NaN,None
3,e4941ac16f2fccf07218d2656a056103a4bf64a6,6933327f9cc740e893a882282f7d06460207d6d4e084b3...,01/01/2019 12:00:00 AM,01/01/2019 12:00:00 AM,420.0,1.50,NaN,NaN,NaN,NaN,...,0.0,7.50,Cash,Star North Management LLC,NaN,NaN,None,NaN,NaN,None
4,57a104b6cf260f117de051e61193e806ceb0f347,6933327f9cc740e893a882282f7d06460207d6d4e084b3...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,420.0,0.50,NaN,NaN,NaN,NaN,...,1.0,8.00,Credit Card,Star North Management LLC,NaN,NaN,None,NaN,NaN,None

In [10]:
# Rename the columns of the Pandas dataframe
timer.start()
taxi_trips_pdf.columns = columns
timer.stop()

Elapsed time: 0.0026 seconds

0.0026454999999714346

In [11]:
# Rename the columns of the Terality dataframe
timer.start()
taxi_trips_tdf.columns = columns
timer.stop()

Elapsed time: 2.3837 seconds

2.3836875999999734

In [12]:
# Row count before cleanup - using Pandas
timer.start()
print("Pandas DF Row Count before: % d" % taxi_trips_pdf.shape[0])
timer.stop()

Pandas DF Row Count before:  20366397
Elapsed time: 0.0011 seconds

0.001109899999960362

In [13]:
# Remove all the rows with NaN values using Pandas. There is plenty of data even otherwise
timer.start()
taxi_trips_pdf.dropna(how='any',axis=0,inplace=True)
timer.stop()

Elapsed time: 8.2620 seconds

8.26195359999997

In [14]:
# Row count after cleanup - using Pandas
timer.start()
print("Pandas DF Row Count after: % d" % taxi_trips_pdf.shape[0])
timer.stop()

Pandas DF Row Count after:  12199631
Elapsed time: 0.0008 seconds

0.000750400000015361

In [15]:
# Row count before cleanup - using Terality
timer.start()
print("Terality DF Row Count after: % d" % taxi_trips_tdf.shape[0])
timer.stop()

INFO:terality:The result of te.dataframe.shape was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

Terality DF Row Count after:  20366397
Elapsed time: 2.1879 seconds

2.187936899999954

In [16]:
# Remove all the rows with NaN values using Terality. There is plenty of data even otherwise
timer.start()
taxi_trips_tdf.dropna(how='any',axis=0,inplace=True)
timer.stop()

Elapsed time: 8.0396 seconds

8.039634100000058

In [17]:
# Row count after cleanup - using Terality
timer.start()
print("Terality DF Row Count after: % d" % taxi_trips_tdf.shape[0])
timer.stop()

INFO:terality:The result of te.dataframe.shape was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

Terality DF Row Count after:  12199631
Elapsed time: 0.6467 seconds

0.6466738000000305

In [34]:
timer.stop()

Elapsed time: 50.3989 seconds

50.39894499999991

In [18]:
# Describe - Pandas
timer.start()
taxi_trips_pdf.describe()

,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude
count,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07
mean,7.806322e+02,2.882408e+00,1.703141e+10,1.703138e+10,2.628359e+01,2.319189e+01,1.279652e+01,1.781760e+00,7.331033e-04,8.851525e-01,1.560699e+01,4.189265e+01,-8.765359e+01,4.189144e+01,-8.764459e+01
std,1.207102e+03,5.479885e+00,3.436317e+05,3.341613e+05,1.881160e+01,1.634532e+01,6.189516e+01,2.826719e+00,3.181317e-01,1.609252e+01,6.459551e+01,3.113462e-02,7.520429e-02,2.604625e-02,5.721153e-02
min,0.000000e+00,0.000000e+00,1.703101e+10,1.703101e+10,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.165022e+01,-8.790304e+01,4.166376e+01,-8.790304e+01
25%,3.400000e+02,5.400000e-01,1.703108e+10,1.703108e+10,8.000000e+00,8.000000e+00,5.750000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00,4.188099e+01,-8.763784e+01,4.188099e+01,-8.764090e+01
50%,5.140000e+02,1.080000e+00,1.703132e+10,1.703128e+10,2.800000e+01,2.800000e+01,7.250000e+00,9.000000e-01,0.000000e+00,0.000000e+00,9.000000e+00,4.188530e+01,-8.763186e+01,4.188530e+01,-8.763186e+01
75%,8.230000e+02,1.900000e+00,1.703184e+10,1.703184e+10,3.200000e+01,3.200000e+01,1.025000e+01,2.000000e+00,0.000000e+00,1.000000e+00,1.250000e+01,4.189322e+01,-8.762197e+01,4.189503e+01,-8.762197e+01
max,8.640000e+04,9.959000e+02,1.703198e+10,1.703198e+10,7.700000e+01,7.700000e+01,9.800260e+03,4.000000e+02,9.606800e+02,9.327760e+03,9.800300e+03,4.202122e+01,-8.753071e+01,4.202122e+01,-8.753071e+01

In [19]:
timer.stop()

Elapsed time: 16.7656 seconds

16.765642200000002

In [20]:
# Describe - Terality
timer.start()
taxi_trips_tdf.describe()

,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude
count,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07,1.219963e+07
mean,7.806322e+02,2.882408e+00,1.703141e+10,1.703138e+10,2.628359e+01,2.319189e+01,1.279652e+01,1.781760e+00,7.331033e-04,8.851525e-01,1.560699e+01,4.189265e+01,-8.765359e+01,4.189144e+01,-8.764459e+01
std,1.207102e+03,5.479885e+00,3.436317e+05,3.341613e+05,1.881160e+01,1.634532e+01,6.189516e+01,2.826719e+00,3.181317e-01,1.609252e+01,6.459551e+01,3.113462e-02,7.520429e-02,2.604625e-02,5.721153e-02
min,0.000000e+00,0.000000e+00,1.703101e+10,1.703101e+10,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.165022e+01,-8.790304e+01,4.166376e+01,-8.790304e+01
25%,3.400000e+02,5.400000e-01,1.703108e+10,1.703108e+10,8.000000e+00,8.000000e+00,5.750000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00,4.188099e+01,-8.763784e+01,4.188099e+01,-8.764090e+01
50%,5.140000e+02,1.080000e+00,1.703132e+10,1.703128e+10,2.800000e+01,2.800000e+01,7.250000e+00,9.000000e-01,0.000000e+00,0.000000e+00,9.000000e+00,4.188530e+01,-8.763186e+01,4.188530e+01,-8.763186e+01
75%,8.230000e+02,1.900000e+00,1.703184e+10,1.703184e+10,3.200000e+01,3.200000e+01,1.025000e+01,2.000000e+00,0.000000e+00,1.000000e+00,1.250000e+01,4.189322e+01,-8.762197e+01,4.189503e+01,-8.762197e+01
max,8.640000e+04,9.959000e+02,1.703198e+10,1.703198e+10,7.700000e+01,7.700000e+01,9.800260e+03,4.000000e+02,9.606800e+02,9.327760e+03,9.800300e+03,4.202122e+01,-8.753071e+01,4.202122e+01,-8.753071e+01

In [21]:
timer.stop()

Elapsed time: 36.7078 seconds

36.707805699999994

In [27]:
# Query 1: Number of trips grouped by taxi - Using Pandas
timer.start()
taxi_trips_pdf.groupby('taxi_id').count()['trip_id']

taxi_id
0008de7a146802839c9e6059f482d292ebdae13c5c31dd6e5983a80882e2a5dbcd6ea098c2fcd56f34ce02645eb94c6b39512e9304837746d4e289b6236c2c5b    3372
001330b81e23412049f9c3eff5b6e972a91afe59c9aa36ef29747881b4bf803adfd02b1a71cca5cb8c2214275330aa4520df34d7848100414acb4b4cad642e62    3072
0013da5489fe976daf4f4a7d246073ecf2caed9b12b3be70eff37b63ef9ca4102c972145ddd8537811752d51b222b4618dfbae451b966d7a3ad9afa4ec878a6e    4093
0041f8f0c91881c1e1913f2548522495fe3c4c719aa67fd2483ebbcc22e0aa1bfff2cddb32c35cde3ad9766b0e8d44c04ff5dfdcf1035462ba81a13e3ba6b8f9    3431
0044e6c0d091476299b99345501f756b23632a96cbaf40e872fbf14f976410d3f938aacc643ed608b2aa42809222d4458e1aab5e0848e9b952f35616785c3a36    2104
                                                                                                                                    ...
ffd70d111c7da2e5eff27ad900c8eb94d74fe286bb7aa58029ee2baac3f3b310dea5da2a6a77a366b7b6d4b104b91ef75e7959ac6b1f558be7844417cbe3e12f     603
ffda53354c610fd3af1aee46d723028a49014e35f7280ca3d812716eb3cf1f0a763556368e4139b7183ee1fb36e26104de62bb86601f2fa16e3d96167e25b84e    1236
ffe8d8153b8f68cd20871ae5710f9b799bcc517b40ece7cf561407a6cd161f52430890c0ef8402a9152eb6bd24651716504c08a69f3b8c8b7a79a08fae65fc4c      46
fff3279af11dfade5e308184a5cc6c1ca2d33764634d962e589f6af2bf844c2dc8e6d8fcf1bf47f4364671bea6c8a8cb8b9990cb9f6dc608079e96aa1fec24e7     914
fff84aa08ac78890c6e7da64b817cbd9aad6a124104e099a7482efee1a6bac61a837e1db218e9d38c159f28c8f85187a08a05c8ba54648edc3b91e437357fa84     202
Name: trip_id, Length: 5280, dtype: int64

In [28]:
timer.stop()

Elapsed time: 18.6076 seconds

18.60761199999979

In [29]:
# Query 1: Number of trips grouped by taxi - Using Terality
timer.start()
taxi_trips_pdf.groupby('taxi_id').count()['trip_id']

taxi_id
0008de7a146802839c9e6059f482d292ebdae13c5c31dd6e5983a80882e2a5dbcd6ea098c2fcd56f34ce02645eb94c6b39512e9304837746d4e289b6236c2c5b    3372
001330b81e23412049f9c3eff5b6e972a91afe59c9aa36ef29747881b4bf803adfd02b1a71cca5cb8c2214275330aa4520df34d7848100414acb4b4cad642e62    3072
0013da5489fe976daf4f4a7d246073ecf2caed9b12b3be70eff37b63ef9ca4102c972145ddd8537811752d51b222b4618dfbae451b966d7a3ad9afa4ec878a6e    4093
0041f8f0c91881c1e1913f2548522495fe3c4c719aa67fd2483ebbcc22e0aa1bfff2cddb32c35cde3ad9766b0e8d44c04ff5dfdcf1035462ba81a13e3ba6b8f9    3431
0044e6c0d091476299b99345501f756b23632a96cbaf40e872fbf14f976410d3f938aacc643ed608b2aa42809222d4458e1aab5e0848e9b952f35616785c3a36    2104
                                                                                                                                    ...
ffd70d111c7da2e5eff27ad900c8eb94d74fe286bb7aa58029ee2baac3f3b310dea5da2a6a77a366b7b6d4b104b91ef75e7959ac6b1f558be7844417cbe3e12f     603
ffda53354c610fd3af1aee46d723028a49014e35f7280ca3d812716eb3cf1f0a763556368e4139b7183ee1fb36e26104de62bb86601f2fa16e3d96167e25b84e    1236
ffe8d8153b8f68cd20871ae5710f9b799bcc517b40ece7cf561407a6cd161f52430890c0ef8402a9152eb6bd24651716504c08a69f3b8c8b7a79a08fae65fc4c      46
fff3279af11dfade5e308184a5cc6c1ca2d33764634d962e589f6af2bf844c2dc8e6d8fcf1bf47f4364671bea6c8a8cb8b9990cb9f6dc608079e96aa1fec24e7     914
fff84aa08ac78890c6e7da64b817cbd9aad6a124104e099a7482efee1a6bac61a837e1db218e9d38c159f28c8f85187a08a05c8ba54648edc3b91e437357fa84     202
Name: trip_id, Length: 5280, dtype: int64

In [30]:
timer.stop()

Elapsed time: 18.3740 seconds

18.37397369999985

In [60]:
taxi_trips_pdf['trip_start_yymm'] = pd.to_datetime(taxi_trips_pdf['trip_start_timestamp'], infer_datetime_format=True)

In [61]:
taxi_trips_pdf.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid__location,trip_start_yymm
16,e066e483f0fc2a583895d24c9dec9864a6608052,4794c36af4c1852d90b5c8cf5f9f6cd38a8b9c1b68cf48...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,600.0,0.0,1.703108e+10,1.703184e+10,8.0,32.0,...,13.00,Credit Card,Blue Ribbon Taxi Association Inc.,41.891972,-87.612945,POINT (-87.6129454143 41.8919715078),41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),2019-01-01
19,5431595d222a3e00a9e4b3e93c928c306dc71be3,86b0677bb9bcda0454863c70a616d1adc45129237848d1...,01/01/2019 12:00:00 AM,01/01/2019 12:00:00 AM,120.0,0.3,1.703184e+10,1.703132e+10,32.0,32.0,...,6.00,Credit Card,Star North Management LLC,41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),41.877406,-87.621972,POINT (-87.6219716519 41.8774061234),2019-01-01
20,509e870adce2a514a4287e1a305fe4ddabc59836,38f6145c9a2b848dc1baa16fd91087e606b12bcb8757a9...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,360.0,0.8,1.703108e+10,1.703108e+10,8.0,8.0,...,9.25,Credit Card,Taxi Affiliation Services,41.898332,-87.620763,POINT (-87.6207628651 41.8983317935),41.892508,-87.626215,POINT (-87.6262149064 41.8925077809),2019-01-01
22,31004535c12d4372c165e34386cde0521a0a72e8,ee8a2f86372e99ecf87d44e13a20ebda7db8ae69d5b444...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,360.0,1.0,1.703108e+10,1.703108e+10,8.0,8.0,...,8.25,Credit Card,Taxi Affiliation Services,41.890922,-87.618868,POINT (-87.6188683546 41.8909220259),41.892042,-87.631864,POINT (-87.6318639497 41.8920421365),2019-01-01
23,da18ec450c1fed02fbbc675faa621f8ac50ab5dd,0013da5489fe976daf4f4a7d246073ecf2caed9b12b3be...,01/01/2019 12:00:00 AM,01/01/2019 12:15:00 AM,420.0,0.8,1.703108e+10,1.703108e+10,8.0,8.0,...,10.50,Credit Card,"Taxicab Insurance Agency, LLC",41.898332,-87.620763,POINT (-87.6207628651 41.8983317935),41.892508,-87.626215,POINT (-87.6262149064 41.8925077809),2019-01-01

In [ ]:
# Sum a column value grouped by another column across the entire dataframe with about 1M rows - using Terality
timer.start()

txn_tdf.groupby('contact_id').sum()[['sales'] + ['redemptions']]

timer.stop()

Elapsed time: 3.3017 seconds

3.30167449999999

In [ ]:
# Describe the dataframe columns and their types - using Pandas
timer.start()

txn_pdf.describe()

timer.stop()

Elapsed time: 0.2162 seconds

0.21618570000003956

In [ ]:
# Describe the dataframe columns and their types - using Terality
timer.start()

txn_tdf.describe()

timer.stop()

Elapsed time: 5.0994 seconds

5.0994470999999635

In [ ]:
# Count of rows - using Pandas
timer.start()

txn_pdf.index.size

timer.stop()

Elapsed time: 0.0001 seconds

5.649999997103805e-05

In [ ]:
# Count of rows - using Terality
timer.start()

txn_tdf.index.size

timer.stop()

Elapsed time: 0.7884 seconds

0.7883520999999973

In [ ]:
# Sort by ticker - using Pandas
timer.start()

txn_pdf.sort_values(by = 'product_id')

timer.stop()

Elapsed time: 2.2027 seconds

2.202657399999964

In [ ]:
# Sort by ticker - using Terality
timer.start()

txn_tdf.sort_values(by ='product_id')

timer.stop()

Elapsed time: 4.2181 seconds

4.218130400000064

In [ ]:
# Slicing - using Pandas
timer.start()

txn_pdf[113:211]

timer.stop()

Elapsed time: 0.0004 seconds

0.00039140000001225417

In [ ]:
# Slicing - using Terality
timer.start()

txn_tdf[113:211]

timer.stop()

Elapsed time: 0.8531 seconds

0.8531338000000233

In [ ]:
# Selecting a single row from an un-indexed dataframe - using Pandas
timer.start()

txn_pdf[txn_pdf['txn_id'] == 423603758]

timer.stop()

Elapsed time: 0.0036 seconds

0.0036301000000094064

In [ ]:
# Selecting a single row from an un-indexed dataframe - using Terality
timer.start()

txn_tdf[txn_tdf['txn_id'] == 423603758]

timer.stop()

Elapsed time: 2.3734 seconds

2.373365100000001

In [ ]:
#filters
timer.start()

txn_pdf[txn_pdf['product_id'].isin(['FPHAX', 'VSIAX', 'PRNHX', 'FKTFX', 'VEIEX'])]

timer.stop()

Elapsed time: 0.0993 seconds

0.09928609999997207

In [ ]:
#filters
timer.start()

txn_tdf[txn_tdf['product_id'].isin(['FPHAX', 'VSIAX', 'PRNHX', 'FKTFX', 'VEIEX'])]

timer.stop()

Elapsed time: 2.4200 seconds

2.420022200000062

In [ ]:
# Merging two dataframes - using Pandas
timer.start()

taxi_trips_pdf.merge(txn_pdf, on='contact_id')

timer.stop()

Elapsed time: 2.0853 seconds

2.08529580000004

In [ ]:
# Merging two dataframes - using Terality
timer.start()

taxi_trips_tdf.merge(txn_tdf, on='contact_id')

timer.stop()

Elapsed time: 9.0715 seconds

9.071548899999925

In [ ]:
# Merging two dataframes and grouping by a single column - using Pandas
timer.start()

taxi_trips_pdf.merge(txn_pdf, on='contact_id').groupby('customer_id').sum()[['sales'] + ['redemptions']]

timer.stop()

Elapsed time: 1.0281 seconds

1.0280862000000752

In [ ]:
# Merging two dataframes and grouping by a single column - using Terality
timer.start()

taxi_trips_tdf.merge(txn_tdf, on='contact_id').groupby('customer_id').sum()[['sales'] + ['redemptions']]

timer.stop()

Elapsed time: 5.7810 seconds

5.78103909999993

In [ ]:
# Merging three dataframes and grouping by two columns - using Pandas
timer.start()

taxi_trips_pdf.merge(txn_pdf, on='contact_id').merge(product_pdf, on='product_id').groupby(['customer_id', 'product_id']).sum()[['sales'] + ['redemptions']]

timer.stop()

Elapsed time: 6.5483 seconds

6.54834470000003

In [ ]:
# Merging three dataframes and grouping by two columns - using Terality
timer.start()

taxi_trips_tdf.merge(txn_tdf, on='contact_id').merge(product_tdf, on='product_id').groupby(['customer_id', 'product_id']).sum()[['sales'] + ['redemptions']]

timer.stop()

Elapsed time: 23.8555 seconds

23.855537199999958